body {
  background-color: #030a08;
  color: white;
  font-size: 20px;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  color: white;
}

header{
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 1000;
}
.nav-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  border-radius: 14px;
  position: sticky;
}

.nav-links{
    margin-top: 30px;
  justify-content: space-between;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  
}
.nav-link {
  margin-top: 30px;
  justify-content: space-between;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.nav-links:hover{
    background-color:  rgb(146, 243, 195);
    color: black;
    border-radius: 3px;
    padding: 3px;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}


.image {
  width: 50%;
  height: 200px;
  border-radius: 30px;
  margin-right: 100px;
  margin-top: 20px;
  padding-left: 10px;
}

#me {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  background-color: #8ceec5;
  padding: 10px;
  border-radius: 20px;
  color: white;
}
.paragraph {
  margin-right: 200px;
  margin-left: 100px;
  font-size: 20px;
  margin-top: 50px;
  color: black;
}

.project {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
}

#projectcard-div{
    display:flex;
     justify-content: space-between;
    gap: 10px;

}

.project-card {
  border-radius: 30px;
  width: 100%;
  margin-left: 15px;
  height: 300px;
  
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 10px rgb(146, 243, 195);
}

 p {
    margin-left: 30px;
}

h3{
    margin-left: 15px;
}


.link {
  text-decoration: none;
  color: white;
  margin-left: 20px;

}

.link:hover{
    background-color: rgb(146, 243, 195);
    color: black;
    padding: 4px;
    border-radius: 4px;
}

#form{
    background-color: rgb(57, 65, 61);
    margin-left: 200px;
    margin-right: 200px;
    padding:0 20px ;
    border-radius: 50px;
}
#form h2{
    text-align: center;
    padding-top: 14px;
    
} 

.submit{
  margin: 10px;
}

.foot{
    background-color:rgb(146, 243, 195);
    padding: 2px;
    margin-top: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
}


@media (max-width:768px){

   body{
    font-size: 25px;
    overflow-x: hidden;
  }

  h1{
    font-size: 30px;
  }

  .nav-links{ 
  font-size: 15px;
  margin-left: 38px;
   font-size: 25px;
  }

  .nav-link{
    margin-top: 2px;
   
  }
  .nav-div{
    justify-content: space-between;
    display: grid;
  
  }

 .projectcard-div{
  display: grid;
  margin: 3px;
}
.project-card{
  margin: 5px;
}

.paragraph{
  justify-content: center;
  padding: 0px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  font-size: 23px;
}
#me{
  display: flex;
  padding: 20px;
}
.image{
  margin-left: 10px;
  border-radius: 50%;
  
}

#form{
  width:90%;
  margin: 25px;
}

.foot{
  padding: 2px;
  margin-left: 0px;
  padding-right: 20px;
}
}



@media (max-width:425px) {
   body{
    font-size: 20px;
    overflow-x: hidden;
  }

  h1{
    font-size: 30px;
  }

  .nav-links{ 
  font-size: 15px;
  margin-left: 38px;
   font-size: 25px;
  }

  .nav-link{
    margin-top: 2px;
   
  }
  .nav-div{
    justify-content: space-between;
    display: grid;
  
  }

 #projectcard-div{
  display: grid;
  margin: 3px;
}
.project-card{
  margin: 5px;
}

.paragraph{
  justify-content: center;
  padding: 0px;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
#me{
  display: grid;
  padding: 0;
}
.image{
  margin-left: 78px;
  border-radius: 50%;
}

#form{
  width: 75%;
  margin: 25px;
}

.foot{
  padding: 2px;
  margin-left: 0px;
  padding-right: 20px;
}
}

@media (max-width:375px) {
  
   body{
    font-size: 15px;
    overflow-x: hidden;
  }

  h1{
    font-size: 30px;
  }

  .nav-links{ 
  font-size: 15px;
  margin-left: 38px;
   font-size: 20px;
  }

  .nav-link{
    margin-top: 2px;
   
  }
  .nav-div{
    justify-content: space-between;
    display: grid;
  
  }

 #projectcard-div{
  display: grid;
  margin: 7px;
}
.project-card{
  margin: 5px;
}

.paragraph{
  justify-content: center;
  padding: 0px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  font-size: 15px;
}
#me{
  display: grid;
  padding: 0;
}
.image{
  margin-left: 65px;
  border-radius: 50%;
}

#form{
  width: 70%;
  margin: 30px;
}

.foot{
  padding: 2px;
  margin-left: 0px;
  padding-right: 20px;
}

}


@media (max-width:360px) {

  body{
    font-size: 15px;
    overflow-x: hidden;
  }

  h1{
    font-size: 35px;
  }

  .nav-links{ 
  font-size: 15px;
  margin-left: 38px;
  
  }

  .nav-link{
    margin-top: 2px;
    font-size: 25px;
    
  }
  .nav-div{
    justify-content: space-between;
    display: grid;
  }

 #projectcard-div{
  display: grid;
  margin: 7px;
}
.project-card{
  margin: 5px;
}

.paragraph{
  justify-content: center;
  padding: 0px;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
#me{
  display: grid;
  padding: 0;
}
.image{
  margin-left: 50px;
  border-radius: 50%;
}
#form{
  width: 70%;
  margin: 25px;
}

.foot{
  padding: 3px;
  margin-left: 0px;
  padding-right: 25px;
}

}

